.propsalScope ol {
  list-style: auto;
  margin-left: 0;
  padding-left: 0;
}

.propsalScope ol li {
  list-style-type: auto;
  /* margin-left: 0;
  padding-left: 0; */
}

.proposalScope ul {
  list-style: disc;
  margin-left: 0;
  padding-left: 0;
}

.proposalScope ul li {
  list-style-type: disc;
  /* margin-left: 0;
  padding-left: 0; */
}
